body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
  background-color: #afedca;
  border-radius: 5px;
}
